# Assignment PDF
CompAssignment4.pdf

# Archives
*.zip

# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
.eggs/

# ROS build artifacts
build/
devel/
logs/
*.pyc

# OS artifacts
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
turtlebot3-files/.~lock.Lab_guide_2025-turtlebot3.docx#
turtlebot3-files/PDDL_domain_1.pddl
turtlebot3-files/PDDL_problem_1.pddl
